---
import RunnerGame from "./RunnerGame.astro";
---

<div class="pt-8">
    <p class="text-gray-700 text-base leading-relaxed font-mono">
                Hello! I'm Yash Singh (22), a software dev. Yap yap yap yap... I recently finished studying computer science at a <span class="redacted">redacted university</span>, and right now I'm working on problems around security automation. I like reading, learning random stuff, and occasionally throwing thoughts into the void.
                </p>
                <div class="justify-center flex mt-4 p-4">
                                <a href="https://x.com/0xafafaf" target="_blank" rel="noreferrer" aria-label="X" class="px-2">𝕏</a>
                                <a href="https://github.com/yashsinghcodes" target="_blank" rel="noreferrer" aria-label="GitHub"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                </div>
                <RunnerGame />
</div>
