---

---
<div class="pt-4">
    <nav class="flex justify-center space-x-3">
        <a href="#about-me" class="text-gray-700 hover:text-gray-100 hover:bg-black font-mono">[ Abstract ]</a>
        <a href="#social" class="text-gray-700 hover:text-gray-100 hover:bg-black font-mono">[ Social ]</a>
        <a href="#projects" class="text-gray-700 hover:text-gray-100 hover:bg-black font-mono">[ Projects ]</a>
        <a href="#writing" class="text-gray-700 hover:text-gray-100 hover:bg-black font-mono">[ Writing ]</a>
        <a href="#Links" class="text-gray-700 hover:text-gray-100 hover:bg-black font-mono">[ Links ]</a>
    </nav>
    <img class="block w-[min(120px,42vw)] h-auto mt-5 mb-2 mx-auto" src="/aneix-vegeta.gif" alt="" loading="lazy" />
</div>
